{% extends 'base.html' %}

{% block body %}
    <div class="auth">
      <h1>Подключение к Metamask</h1>
      <button id="auth">Войти</button>
    </div>

    <script type="text/javascript">
     
      // Скачен ли metamask у пользователя в браузере
      if (typeof window.ethereum !== 'undefined') {
         
        const ethereum = window.ethereum; // сохраняем ссылку на metamask api 
        const button = document.getElementById('auth'); // получаем кнопку войти из html (DOM) сверху
        
        // Клик по кнопке
        button.addEventListener('click', async () => {
          try {
            // запрос аккаунтов к metamask. Тут открывается окно с подтверждениями о входе
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
            const selectedAccount = accounts[0];

            // отправка данных на сервер
            const response = await fetch('/login', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ public_key: selectedAccount })
            });
            
            const data = await response.json();
            
            if (data.redirect) {
              window.location.href = data.redirect;
            } else if (data.error) {
              alert(data.error);
            }
          } catch (error) {
            console.error('Ошибка авторизации:', error);
            alert('Не удалось подключиться к Metamask');
          }
        });
      } else {
        alert('Расширение Metamask недоступно. Пожалуйста, установите его.');
        console.error('Расширение Metamask недоступно');
      }
    </script>

    <!--Проверка уведомлений, переданных из FastAPI  -->
    {% if messages %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in messages %}
                        <p>{{ mes }}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}
{% endblock %}