<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tytle %} {% endblock %} </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/investions">Инвестиции</a>
        <a href="/swap">Обмен</a>
        <a href="/profile">Профиль</a>
        <a href="/login">Вход</a>
    </nav>
    <hr>
    {% block body %}{% endblock %}
</body>
</html> 